<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    .grey-gradient {
      background: linear-gradient(180deg, #f0f0f0 0%, #d1d1d1 100%);
    }
  </style>
</head>
<body>
  {{{body}}}
  <script src="/Hi-tech-Blog/public/js/signup.js"></script>
</body>
</html>
